<div class="modal fade" id="select-action-modal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0 pt-4">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body border-0 pb-4">
                <div class="container-fluid d-grid gap-4">
                    <div class="bg-white rounded">
                        <h3 class="text-center p-2" style="color:#499bb3;">Select Action</h3>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card d-flex flex-column justify-content-center align-items-center gap-2">
                                <img width="50" src="~/Assets/isp-icons/File a Motion.png" />
                                <h6 class="text-gold">File a Motion</h6>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card d-flex flex-column justify-content-center align-items-center gap-2">
                                <img width="50" src="~/Assets/isp-icons/File a Petition.png" />
                                <h6 class="text-gold">File a Petition</h6>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card d-flex flex-column justify-content-center align-items-center gap-2">
                                <img width="50" src="~/Assets/isp-icons/Compliance.png" />
                                <h6 class="text-gold">Compliance</h6>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card d-flex flex-column justify-content-center align-items-center gap-2">
                                <img width="50" src="~/Assets/isp-icons/Manifestation.png" />
                                <h6 class="text-gold">Manifestation</h6>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card d-flex flex-column justify-content-center align-items-center gap-2">
                                <img width="50" src="~/Assets/isp-icons/Submission.png" />
                                <h6 class="text-gold">Submission</h6>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card d-flex flex-column justify-content-center align-items-center gap-2">
                                <img width="50" src="~/Assets/isp-icons/Others.png" />
                                <h6 class="text-gold">Others</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="select-action-admin-modal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0 pt-4">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body border-0 pb-4">
                <div class="container-fluid d-grid gap-4">
                    <div class="bg-white rounded">
                        <h3 class="text-center p-2" style="color:#499bb3;">Select Action</h3>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card d-flex flex-column justify-content-center align-items-center gap-2">
                                <img width="50" src="~/Assets/isp-icons/File a Motion.png" />
                                <h6 class="text-gold">Initial Order </h6>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card d-flex flex-column justify-content-center align-items-center gap-2">
                                <img width="50" src="~/Assets/isp-icons/File a Petition.png" />
                                <h6 class="text-gold">Notice of Virtual Hearing</h6>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card d-flex flex-column justify-content-center align-items-center gap-2">
                                <img width="50" src="~/Assets/isp-icons/Compliance.png" />
                                <h6 class="text-gold">Others</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="goverment-identification-help-modal" tabindex="-1" aria-labelledby="goverment-identification-help-modal" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0 pt-4">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body border-0 pb-4">
                <div class="container-fluid d-grid gap-4">
                    <div class="bg-white rounded">
                        <h5 class="text-center" style="color:#499bb3;">
                            List of Valid Identification Documents Individual/Joint/OFW Accounts
                        </h5>
                    </div>
                    <div class="row">
                        <div class="col">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <i class="fa-solid fa-check-circle text-edit"></i> PSA ID
                                </li>
                                <li class="list-group-item">
                                    <i class="fa-solid fa-check-circle text-edit"></i>
                                    Driver’s License
                                </li>
                                <li class="list-group-item">
                                    <i class="fa-solid fa-check-circle text-edit"></i>
                                    Passport
                                </li>
                                <li class="list-group-item">
                                    <i class="fa-solid fa-check-circle text-edit"></i>
                                    Professional Regulation Commission (PRC) ID
                                </li>
                                <li class="list-group-item">
                                    <i class="fa-solid fa-check-circle text-edit"></i>
                                    National Bureau of Investigation (NBI) Clearance
                                </li>
                                <li class="list-group-item">
                                    <i class="fa-solid fa-check-circle text-edit"></i>
                                    SSS Card (digitized)
                                </li>
                                <li class="list-group-item">
                                    <i class="fa-solid fa-check-circle text-edit"></i>
                                    Alien Certificate of Registration (ACR)/Immigrant Certificate of Registration
                                </li>
                                <li class="list-group-item">
                                    <i class="fa-solid fa-check-circle text-edit"></i>
                                    Police Clearance
                                </li>
                                <li class="list-group-item">
                                    <i class="fa-solid fa-check-circle text-edit"></i>
                                    Postal ID
                                </li>
                                <li class="list-group-item">
                                    <i class="fa-solid fa-check-circle text-edit"></i>
                                    Voter’s ID
                                </li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <i class="fa-solid fa-check-circle text-edit"></i>
                                    Barangay Certification
                                </li>
                                <li class="list-group-item">
                                    <i class="fa-solid fa-check-circle text-edit"></i>
                                    GSIS e-Card
                                </li>
                                <li class="list-group-item">
                                    <i class="fa-solid fa-check-circle text-edit"></i>
                                    Philhealth Card
                                </li>
                                <li class="list-group-item">
                                    <i class="fa-solid fa-check-circle text-edit"></i>
                                    Senior Citizen Card
                                </li>
                                <li class="list-group-item">
                                    <i class="fa-solid fa-check-circle text-edit"></i>
                                    OWWA ID with picture
                                </li>
                                <li class="list-group-item">
                                    <i class="fa-solid fa-check-circle text-edit"></i>
                                    Seaman’s Book
                                </li>
                                <li class="list-group-item">
                                    <i class="fa-solid fa-check-circle text-edit"></i>
                                    Gov’t Office ID (e.g. AFP, HDMF)
                                </li>
                                <li class="list-group-item">
                                    <i class="fa-solid fa-check-circle text-edit"></i>
                                    Certification from the National Council for the Welfare of Disabled Persons (NCWDP)
                                </li>
                                <li class="list-group-item">
                                    <i class="fa-solid fa-check-circle text-edit"></i>
                                    Dept. of Social Welfare and Development (DSWD) Certification
                                </li>
                                <li class="list-group-item">
                                    <i class="fa-solid fa-check-circle text-edit"></i>
                                    Other ID’s issued by the Gov’t and its Instrumentalities
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    #goverment-identification-help-modal .modal-dialog {
        max-width: 800px !important;
    }

    .card {
        border: 1px solid rgba(0,0,0,.125) !important;
        cursor: pointer;
    }

    #select-action-modal .card {
        min-height: 120px !important;
    }
</style>

