<li><a class="dropdown-item fs-14" href="@Url.Action("ChangeLanguage", "General", new { lang="en"})">EN (English)</a></li>
<li><a class="dropdown-item fs-14" href="@Url.Action("ChangeLanguage", "General", new { lang="zh"})">ZH (Chinese)</a></li>
<li><a class="dropdown-item fs-14" href="@Url.Action("ChangeLanguage", "General", new { lang="ms"})">MS (Malay)</a></li>
