@{
    Layout = "~/Views/Shared/_LayoutAfterLogin.cshtml";
}

<section>
    <div class="container-fluid d-grid gap-4">
        <div class="bg-white rounded">
            <h3 class="text-center p-2" style="color:#499bb3;">Select Action</h3>
        </div>
        <div class="row">
            <div class="col">
                <div class="card d-flex flex-column justify-content-center align-items-center gap-2">
                    <img width="50" src="~/Assets/isp-icons/File a Motion.png" />
                    <h6 class="text-gold">File a Motion</h6>
                </div>
            </div>
            <div class="col">
                <div class="card d-flex flex-column justify-content-center align-items-center gap-2">
                    <img width="50" src="~/Assets/isp-icons/File a Petition.png" />
                    <h6 class="text-gold">File a Petition</h6>
                </div>
            </div>
            <div class="col">
                <div class="card d-flex flex-column justify-content-center align-items-center gap-2">
                    <img width="50" src="~/Assets/isp-icons/Compliance.png" />
                    <h6 class="text-gold">Compliance</h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card d-flex flex-column justify-content-center align-items-center gap-2">
                    <img width="50" src="~/Assets/isp-icons/Manifestation.png" />
                    <h6 class="text-gold">Manifestation</h6>
                </div>
            </div>
            <div class="col">
                <div class="card d-flex flex-column justify-content-center align-items-center gap-2">
                    <img width="50" src="~/Assets/isp-icons/Submission.png" />
                    <h6 class="text-gold">Submission</h6>
                </div>
            </div>
            <div class="col">
                <div class="card d-flex flex-column justify-content-center align-items-center gap-2">
                    <img width="50" src="~/Assets/isp-icons/Others.png" />
                    <h6 class="text-gold">Others</h6>
                </div>
            </div>
        </div>
    </div>
</section>