@{
    Layout = "~/Views/Shared/_LayoutAfterLogin.cshtml";
}
<h3 class="text-center text-mauve my-4">Validation of In-Service Meter Sampling</h3>
<section>
    <div class="container-fluid">
            <div class="card px-2 py-5">
                <form id="msform" class="text-center">
                    <!-- progressbar -->
                    <ul id="progressbar" class="p-0">
                        <li class="active" id="submit">Submit Progress Report</li>
                        <li id="review">Review and Validation</li>
                        <li id="generate">Generate SOA</li>
                        <li id="payment">Payment</li>
                        <li id="verify">Payment Verification</li>
                        <li id="release">Release Approved/Numbered Travel Order</li>
                        <li id="validate">Field Validation</li>
                        <li id="report">Reporting</li>
                        <li id="dissemate">Dissemation</li>
                        <li id="issue">Issuance of Certification</li>
                    </ul>
                    <fieldset class="px-5">
                        <div class="form-group">
                            <label class="text-secondary float-start">Description of Progress Report</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                            <label class="text-secondary text-start w-100 text-start mt-3">Date</label>
                            <input type="date" class="form-control w-50" />
                            <label class="text-secondary text-start w-100 text-start mt-3">Upload Progress Report</label>
                            <input type="file" class="form-control w-50" />
                            <div class="text-start text-muted mt-3"><i class="fa fa-add p-1 me-1 bg-mauve text-white rounded"></i><small>Attach more document</small></div>
                        </div>
                        <input type="button" name="next" class="next action-button rounded hover-effect mt-5" value="Submit" />
                    </fieldset>
                    <fieldset class="px-5">
                        <div class="border rounded p-3">
                            <h4 class="text-start text-mauve">Stakeholder 01</h4>
                            <div class="row mt-3">
                                <div class="col-2 ms-3">
                                    <div class="row text-secondary fw-bold">
                                        Document Request
                                    </div>
                                    <div class="row text-secondary fw-bold">
                                        Date
                                    </div>
                                    <div class="row text-secondary fw-bold">
                                        Time
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="row text-start">
                                        <div class="col">
                                            <span class="text-secondary"><i class="fa fa-paperclip text-mauve me-1"></i>Attach</span>
                                        </div>
                                        <div class="col">
                                            <span class="text-secondary"><i class="fa fa-search text-mauve me-1"></i>View</span>
                                        </div>
                                    </div>
                                    <div class="row text-start">
                                        <span class="text-secondary">February 24, 2023</span>
                                    </div>
                                    <div class="row text-start">
                                        <span class="text-secondary">8:25am</span>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="row text-secondary fw-bold">
                                        Details
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="row text-secondary">
                                        Details 01
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="border rounded p-3 mt-3">
                            <h4 class="text-start text-mauve">Matching of Progress Report and Program Plan</h4>
                            <div class="row my-5">
                                <div class="col-4 d-flex flex-row gap-3 justify-content-start">
                                    <div class="text-secondary" style="line-height:35px;">
                                        Progress Report
                                    </div>
                                    <div class="border rounded p-1">
                                        PRG-02-172023 <i class="fa fa-file-pdf text-mauve"></i>
                                    </div>
                                    <div style="line-height:35px;">
                                        <i class="fa fa-search text-mauve"></i><span class="text-secondary">View</span>
                                    </div>
                                </div>
                                <div class="col-4 d-flex flex-row gap-3 justify-content-start">
                                    <div class="text-secondary" style="line-height:35px;">
                                        Progress Plan
                                    </div>
                                    <div class="border rounded p-1">
                                        PRG-02-172023 <i class="fa fa-file-pdf text-mauve"></i>
                                    </div>
                                    <div style="line-height:35px;">
                                        <i class="fa fa-search text-mauve"></i><span class="text-secondary">View</span>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <h4 class="text-start text-mauve">Progress Report Match Program Plan?</h4>
                            <div class="p-3">
                                <div class="form-check text-start">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        <strong class="px-3">Yes</strong><small class="text-muted">Approved (Notify stakeholder for Payment)</small>
                                    </label>
                                </div>
                                <div class="form-check text-start">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        <strong class="px-3">No</strong><small class="text-muted">Decline (Notify stakeholder for revise Progress Report)</small>
                                    </label>
                                </div>
                                <label class="pt-3 float-start text-secondary fw-bold">Remarks</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                            </div>
                        </div>
                            <input type="button" name="previous" class="previous action-button-previous rounded hover-effect mt-5" value="Back" />
                            <input type="button" name="next" class="next action-button rounded hover-effectmt-5" value="Next" />
                    </fieldset>
                    <fieldset class="px-5">
                        <div>

                        </div>
                        <input type="button" name="previous" class="previous action-button-previous rounded hover-effect" value="Back" />
                        <input type="button" name="next" class="next action-button rounded hover-effect" value="Next" />
                    </fieldset>
                    <fieldset class="px-5">
                        <div id="payment-tag" class="form-card mb-5">
                            <h6 class="text-secondary text-start">Online Payment</h6>
                            <div class="row mt-3 d-flex align-items-center text-secondary">
                                <div class="col">
                                    <div class="row">
                                        <div class="col erc-text-dark-blue">
                                            <strong>Name:</strong>
                                        </div>
                                        <div class="col">
                                            [Name]
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col erc-text-dark-blue">
                                            <strong>Email:</strong>
                                        </div>
                                        <div class="col">
                                            [Email]
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col erc-text-dark-blue">
                                            <strong>Mobile No.:</strong>
                                        </div>
                                        <div class="col">
                                            [Mobile No.]
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col erc-text-dark-blue">
                                            <strong>Case Type:</strong>
                                        </div>
                                        <div class="col">
                                            [Case Type]
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col erc-text-dark-blue">
                                            <strong>Case Nature:</strong>
                                        </div>
                                        <div class="col">
                                            [Case Nature]
                                        </div>
                                    </div>
                                </div>
                                <div class="col text-center">
                                    <h6 class="erc-text-dark-blue">Payment Reference No.:</h6>
                                    <input type="text" class="my-3 p-3 text-center erc-text-dark-blue" />
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center py-3 text-secondary">
                                Payment thru:
                            </div>
                            <div class="row d-flex justify-content-center">
                                <div class="col-3 boxShadow border rounded text-center p-2 mx-2">
                                    <h6 class="text-mauve fw-bold">Pay Maya</h6>
                                </div>
                                <div class="col-3 boxShadow border rounded text-center p-2 mx-2">
                                    <h6 class="text-mauve fw-bold">GCash</h6>
                                </div>
                                <div class="col-3 boxShadow border rounded text-center p-2 mx-2">
                                    <h6 class="text-mauve fw-bold">Bank Transfer</h6>
                                </div>
                            </div>
                        </div>
                        <input type="button" name="previous" class="previous action-button-previous rounded hover-effect" value="Back" />
                        <input type="button" name="next" class="next action-button rounded hover-effect" value="Next" />
                    </fieldset>
                    <fieldset class="px-5">
                        <div class="p-3">
                            <h6 class="text-secondary text-start">Online Payment</h6>
                            <hr />
                            <div class="text-secondary text-start">
                                <label>Upload proof of payment</label><br />
                                <small>Payment Copy</small><br />
                                <input type="file" class="w-50 form-control"/><br />
                                <small><i class="fa fa-add text-white rounded bg-mauve p-1 me-1"></i> Attach more documents</small><br />
                            </div>
                            <hr />
                        </div>
                        <input type="button" name="previous" class="previous action-button-previous rounded hover-effect" value="Back" />
                        <input type="button" name="next" class="next action-button rounded hover-effect" value="Next" />
                    </fieldset>
                    <fieldset class="px-5">
                        <div class="border rounded p-3 mt-3">
                            <h4 class="text-start text-mauve">Stakeholder 01</h4>
                            <div class="row">
                                <div class="col">
                                    <table class="text-start">
                                        <tr>
                                            <td>Date</td>
                                            <td>Februrary 24, 2023</td>
                                        </tr>
                                        <tr>
                                            <td>Time</td>
                                            <td>8:25am</td>
                                        </tr>
                                        <tr>
                                            <td>Details</td>
                                            <td>Details 01</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col">
                                    <table>
                                        <tr>
                                            <td>Payment Status</td>
                                            <td>Paid</td>
                                        </tr>
                                        <tr>
                                            <td>Assigned Number</td>
                                            <td>0118462848</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <hr />
                            <table class="text-start w-50">
                                <tr>
                                    <td>Statement of Account</td>
                                    <td>Invoice no. 10-12345</td>
                                    <td></td>
                                    <td><i class="fa fa-search"></i>View</td>
                                </tr>
                                <tr>
                                    <td>Progress Report</td>
                                    <td><i class="fa fa-paperclip"></i>Attach </td>
                                    <td><i class="fa fa-file-pdf"></i></td>
                                    <td><i class="fa fa-search"></i>View</td>
                                </tr>
                                <tr>
                                    <td>Travel Authority</td>
                                    <td><i class="fa fa-paperclip"></i>Attach </td>
                                    <td><i class="fa fa-file-pdf"></i></td>
                                    <td><i class="fa fa-search"></i>View</td>
                                </tr>
                            </table>
                        </div>
                        <div class="border rounded p-3 mt-3">
                            <h4 class="text-start text-mauve">Assigned Personnel</h4>
                            <div class="row">
                                <div class="col">
                                    <label>Name</label>
                                    <input type="text" />
                                    <button><i class="fa fa-paperclip"></i>Attach Signature</button>
                                </div>
                                <div class="col">
                                    <input type="button" value="Approve" />
                                    <input type="button" value="Decline" />
                                </div>
                            </div>
                        </div>
                        <div class="form-check mb-5 mt-3 text-start">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled">
                            <label class="form-check-label" for="flexCheckCheckedDisabled">
                                Forward to Supervisor for Signature
                            </label>
                        </div>

                        <input type="button" name="previous" class="previous action-button-previous rounded hover-effect" value="Back" />
                        <input type="button" name="next" class="next action-button rounded hover-effect" value="Next" />
                    </fieldset>
                    <fieldset class="px-5">
                        <div class="border rounded p-3 m-3">
                            <h4 class="text-start text-mauve">Stakeholder 01</h4>
                            <div class="row">
                                <div class="col">
                                    <table class="text-start">
                                        <tr>
                                            <td>Date</td>
                                            <td>Februrary 24, 2023</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Time</td>
                                            <td>8:25am</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Assigned Personnel</td>
                                            <td>Lydia Ramirez</td>
                                            <td>Approved</td>
                                        </tr>
                                        <tr>
                                            <td>Supervisor</td>
                                            <td>Kate Suarez</td>
                                            <td>Approved</td>
                                        </tr>
                                        <tr>
                                            <td>Division Chief</td>
                                            <td>Tom Cruise</td>
                                            <td>Approved</td>
                                        </tr>
                                        <tr>
                                            <td>Director</td>
                                            <td>Queen Dela Rosa</td>
                                            <td>Approved</td>
                                        </tr>
                                        <tr>
                                            <td>Commission</td>
                                            <td>Mike Vera</td>
                                            <td>Approved</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col">
                                    <table>
                                        <tr>
                                            <td>Details</td>
                                            <td>Details 01</td>
                                        </tr>
                                        <tr>
                                            <td>Payment Status</td>
                                            <td>Paid</td>
                                        </tr>
                                        <tr>
                                            <td>Assigned Number</td>
                                            <td>0118462848</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <hr />
                            <table class="text-start w-50">
                                <tr>
                                    <td>Statement of Account</td>
                                    <td>Invoice no. 10-12345</td>
                                    <td></td>
                                    <td><i class="fa fa-search"></i>View</td>
                                </tr>
                                <tr>
                                    <td>Progress Report</td>
                                    <td><i class="fa fa-paperclip"></i>Attach </td>
                                    <td><i class="fa fa-file-pdf"></i></td>
                                    <td><i class="fa fa-search"></i>View</td>
                                </tr>
                                <tr>
                                    <td>Travel Authority</td>
                                    <td><i class="fa fa-paperclip"></i>Attach </td>
                                    <td><i class="fa fa-file-pdf"></i></td>
                                    <td><i class="fa fa-search"></i>View</td>
                                    <td><button>Print/Download</button></td>
                                </tr>
                            </table>
                        </div>
                        <input type="button" name="previous" class="previous action-button-previous rounded hover-effect" value="Back" />
                        <input type="button" name="next" class="next action-button rounded hover-effect" value="Next" />
                    </fieldset>
                    <fieldset class="px-5">
                        <div class="border rounded p-3 mt-3">
                            <h4 class="text-start text-mauve">Stakeholder 01</h4>
                            <div class="row">
                                <div class="col">
                                    <table class="text-start">
                                        <tr>
                                            <td>Date</td>
                                            <td>Februrary 24, 2023</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Time</td>
                                            <td>8:25am</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Assigned Personnel</td>
                                            <td>Lydia Ramirez</td>
                                            <td>Approved</td>
                                        </tr>
                                        <tr>
                                            <td>Supervisor</td>
                                            <td>Kate Suarez</td>
                                            <td>Approved</td>
                                        </tr>
                                        <tr>
                                            <td>Division Chief</td>
                                            <td>Tom Cruise</td>
                                            <td>Approved</td>
                                        </tr>
                                        <tr>
                                            <td>Director</td>
                                            <td>Queen Dela Rosa</td>
                                            <td>Approved</td>
                                        </tr>
                                        <tr>
                                            <td>Commission</td>
                                            <td>Mike Vera</td>
                                            <td>Approved</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col">
                                    <table>
                                        <tr>
                                            <td>Details</td>
                                            <td>Details 01</td>
                                        </tr>
                                        <tr>
                                            <td>Payment Status</td>
                                            <td>Paid</td>
                                        </tr>
                                        <tr>
                                            <td>Assigned Number</td>
                                            <td>0118462848</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <hr />
                            <table class="text-start w-50">
                                <tr>
                                    <td>Statement of Account</td>
                                    <td>Invoice no. 10-12345</td>
                                    <td></td>
                                    <td><i class="fa fa-search"></i>View</td>
                                </tr>
                                <tr>
                                    <td>Progress Report</td>
                                    <td><i class="fa fa-paperclip"></i>Attach </td>
                                    <td><i class="fa fa-file-pdf"></i></td>
                                    <td><i class="fa fa-search"></i>View</td>
                                </tr>
                                <tr>
                                    <td>Travel Authority</td>
                                    <td><i class="fa fa-paperclip"></i>Attach </td>
                                    <td><i class="fa fa-file-pdf"></i></td>
                                    <td><i class="fa fa-search"></i>View</td>
                                    <td><button>Print/Download</button></td>
                                </tr>
                            </table>
                        </div>
                        <div class="p-3 my-3 border rounded">
                            <h4 class="text-start text-mauve">Report</h4>
                            <table class="w-50">
                                <tr>
                                    <td>General Report</td>
                                    <td><button><i class="fa fa-paperclip"></i> Attach</button></td>
                                </tr>
                                <tr>
                                    <td>Testing Report</td>
                                    <td><button><i class="fa fa-paperclip"></i> Attach</button></td>
                                </tr>
                            </table>
                            <div class="text-start text-muted mt-3"><i class="fa fa-add p-1 me-1 bg-mauve text-white rounded"></i><small>Attach more document</small></div>
                            <label class="text-secondary float-start">Remarks</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                        </div>
                        <input type="button" name="previous" class="previous action-button-previous rounded hover-effect" value="Back" />
                        <input type="button" name="next" class="next action-button rounded hover-effect" value="Next" />
                    </fieldset>
                    <fieldset class="px-5">
                        <div class="border rounded p-3 mt-3">
                            <h4 class="text-start text-mauve">Stakeholder 01</h4>
                            <div class="row">
                                <div class="col">
                                    <table class="text-start">
                                        <tr>
                                            <td>Date</td>
                                            <td>Februrary 24, 2023</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Time</td>
                                            <td>8:25am</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Assigned Personnel</td>
                                            <td>Lydia Ramirez</td>
                                            <td>Approved</td>
                                        </tr>
                                        <tr>
                                            <td>Supervisor</td>
                                            <td>Kate Suarez</td>
                                            <td>Approved</td>
                                        </tr>
                                        <tr>
                                            <td>Division Chief</td>
                                            <td>Tom Cruise</td>
                                            <td>Approved</td>
                                        </tr>
                                        <tr>
                                            <td>Director</td>
                                            <td>Queen Dela Rosa</td>
                                            <td>Approved</td>
                                        </tr>
                                        <tr>
                                            <td>Commission</td>
                                            <td>Mike Vera</td>
                                            <td>Approved</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col">
                                    <table>
                                        <tr>
                                            <td>Details</td>
                                            <td>Details 01</td>
                                        </tr>
                                        <tr>
                                            <td>Payment Status</td>
                                            <td>Paid</td>
                                        </tr>
                                        <tr>
                                            <td>Assigned Number</td>
                                            <td>0118462848</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <hr />
                            <table class="text-start w-50">
                                <tr>
                                    <td>Statement of Account</td>
                                    <td>Invoice no. 10-12345</td>
                                    <td></td>
                                    <td><i class="fa fa-search"></i>View</td>
                                </tr>
                                <tr>
                                    <td>Progress Report</td>
                                    <td><i class="fa fa-paperclip"></i>Attach </td>
                                    <td><i class="fa fa-file-pdf"></i></td>
                                    <td><i class="fa fa-search"></i>View</td>
                                </tr>
                                <tr>
                                    <td>Travel Authority</td>
                                    <td><i class="fa fa-paperclip"></i>Attach </td>
                                    <td><i class="fa fa-file-pdf"></i></td>
                                    <td><i class="fa fa-search"></i>View</td>
                                    <td><button>Print/Download</button></td>
                                </tr>
                            </table>
                        </div>
                        <div class="p-3 my-3 border rounded">
                            <h4 class="text-start text-mauve">Report</h4>

                            <div class="row">
                                <div class="col">
                                    <table class="w-50">
                                        <tr>
                                            <td>General Report</td>
                                            <td><button><i class="fa fa-paperclip"></i> Attach</button></td>
                                        </tr>
                                        <tr>
                                            <td>Testing Report</td>
                                            <td><button><i class="fa fa-paperclip"></i> Attach</button></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col">
                                    <input type="button" value="Approve" />
                                    <input type="button" value="Decline" />
                                </div>
                            </div>
                            <label class="text-secondary float-start">Remarks</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                        </div>
                        <input type="button" name="previous" class="previous action-button-previous rounded hover-effect" value="Back" />
                        <input type="button" name="next" class="next action-button rounded hover-effect" value="Next" />
                    </fieldset>
                    <fieldset>
                        <div class="border rounded p-3 mt-3">
                            <h4 class="text-start text-mauve">Stakeholder 01</h4>
                            <div class="row">
                                <div class="col">
                                    <table class="text-start">
                                        <tr>
                                            <td>Date</td>
                                            <td>Februrary 24, 2023</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Time</td>
                                            <td>8:25am</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Assigned Personnel</td>
                                            <td>Lydia Ramirez</td>
                                            <td>Approved</td>
                                        </tr>
                                        <tr>
                                            <td>Supervisor</td>
                                            <td>Kate Suarez</td>
                                            <td>Approved</td>
                                        </tr>
                                        <tr>
                                            <td>Division Chief</td>
                                            <td>Tom Cruise</td>
                                            <td>Approved</td>
                                        </tr>
                                        <tr>
                                            <td>Director</td>
                                            <td>Queen Dela Rosa</td>
                                            <td>Approved</td>
                                        </tr>
                                        <tr>
                                            <td>Commission</td>
                                            <td>Mike Vera</td>
                                            <td>Approved</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col">
                                    <table>
                                        <tr>
                                            <td>Details</td>
                                            <td>Details 01</td>
                                        </tr>
                                        <tr>
                                            <td>Payment Status</td>
                                            <td>Paid</td>
                                        </tr>
                                        <tr>
                                            <td>Assigned Number</td>
                                            <td>0118462848</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <hr />
                            <table class="text-start w-50">
                                <tr>
                                    <td>Statement of Account</td>
                                    <td>Invoice no. 10-12345</td>
                                    <td></td>
                                    <td><i class="fa fa-search"></i>View</td>
                                </tr>
                                <tr>
                                    <td>Progress Report</td>
                                    <td><i class="fa fa-paperclip"></i>Attach </td>
                                    <td><i class="fa fa-file-pdf"></i></td>
                                    <td><i class="fa fa-search"></i>View</td>
                                </tr>
                                <tr>
                                    <td>Travel Authority</td>
                                    <td><i class="fa fa-paperclip"></i>Attach </td>
                                    <td><i class="fa fa-file-pdf"></i></td>
                                    <td><i class="fa fa-search"></i>View</td>
                                    <td><button>Print/Download</button></td>
                                </tr>
                            </table>
                        </div>
                        <div class="p-3 my-3 border rounded">
                            <h4 class="text-start text-mauve">Report</h4>

                            <div class="row">
                                <div class="col">
                                    <table class="w-50">
                                        <tr>
                                            <td>General Report</td>
                                            <td><button><i class="fa fa-paperclip"></i> Attach</button></td>
                                        </tr>
                                        <tr>
                                            <td>Testing Report</td>
                                            <td><button><i class="fa fa-paperclip"></i> Attach</button></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col">
                                    <i class="fa fa-check-circle"></i>
                                    <h6>Approved</h6>
                                    Issue Certificate to extend validity <button>Print Certificate</button>
                                </div>
                            </div>
                            <label class="text-secondary float-start">Remarks</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                        </div>
                        <input type="button" name="previous" class="previous action-button-previous rounded hover-effect" value="Back" />
                        <input type="button" name="next" class="next action-button rounded hover-effect" value="Ok" />
                    </fieldset>
                </form>
            </div>
        </div>
</section>

<style type="text/css">

    tr td:last-child {
        width: 1%;
        white-space: nowrap;
    }
    #msform {
        position: relative;
    }

        #msform fieldset {
            background: white;
            border: 0 none;
            border-radius: 0.5rem;
            width: 100%;
            margin: 0;
            position: relative
        }

    #msform fieldset:not(:first-of-type) {
        display: none
    }
        #msform .action-button {
            width: 100px;
            background: #566eb4;
            color: white;
            border: 0 none;
            cursor: pointer;
        }

        #msform .action-button-previous {
            width: 100px;
            background: #96abe9;
            color: white;
            border: 0 none;
            cursor: pointer;
        }

    .card {
        z-index: 0;
        border: none;
        position: relative
    }

    .steps {
        color: gray;
        margin-bottom: 10px;
        text-align: right
    }

    #progressbar {
        margin-bottom: 30px;
        overflow: hidden;
        color: lightgrey
    }

        #progressbar .active {
            color: #499bb3;
        }

        #progressbar li {
            list-style-type: none;
            width: calc(100% / 10);
            float: left;
            position: relative;
            text-align: center;
            padding: 0 10px 0 10px;
        }

        #progressbar #submit:before, #progressbar #review:before, #progressbar #generate:before, #progressbar #payment:before, #progressbar #verify:before,
        #progressbar #release:before, #progressbar #validate:before, #progressbar #report:before, #progressbar #dissemate:before, #progressbar #issue:before {
            font-family: FontAwesome;
            content: ""
        }

        #progressbar li:before {
            width: 10px;
            height: 10px;
            display: block;
            font-size: 11px;
            background: lightgray;
            border-radius: 50%;
            margin: 21px auto 10px auto;
        }

        #progressbar li:after {
            content: '';
            width: 100%;
            height: 2px;
            background: lightgray;
            position: absolute;
            left: 0;
            top: 25px;
            z-index: -1
        }

        #progressbar li.active:before,
        #progressbar li.active:after {
            background: #499bb3;
        }
  

</style>

@section Scripts {
    
    <script type="text/javascript">
        $(document).ready(function () {

            var current_fs, next_fs, previous_fs; //fieldsets
            var opacity;
            var current = 1;
            var steps = $("fieldset").length;

            setProgressBar(current);

            $(".next").click(function () {

                current_fs = $(this).parent();
                next_fs = $(this).parent().next();

                //Add Class Active
                $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

                //show the next fieldset
                next_fs.show();
                //hide the current fieldset with style
                current_fs.animate({ opacity: 0 }, {
                    step: function (now) {
                        // for making fielset appear animation
                        opacity = 1 - now;

                        current_fs.css({
                            'display': 'none',
                            'position': 'relative'
                        });
                        next_fs.css({ 'opacity': opacity });
                    },
                    duration: 500
                });
                setProgressBar(++current);
            });

            $(".previous").click(function () {

                current_fs = $(this).parent();
                previous_fs = $(this).parent().prev();

                //Remove class active
                $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

                //show the previous fieldset
                previous_fs.show();

                //hide the current fieldset with style
                current_fs.animate({ opacity: 0 }, {
                    step: function (now) {
                        // for making fielset appear animation
                        opacity = 1 - now;

                        current_fs.css({
                            'display': 'none',
                            'position': 'relative'
                        });
                        previous_fs.css({ 'opacity': opacity });
                    },
                    duration: 500
                });
                setProgressBar(--current);
            });

            function setProgressBar(curStep) {
                var percent = parseFloat(100 / steps) * curStep;
                percent = percent.toFixed();
                $(".progress-bar")
                    .css("width", percent + "%")
            }

            $(".submit").click(function () {
                return false;
            })

        });
    </script>
    }